@page
@model CitizenServices.Pages.CitizenPropertiesModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="CitizenPropertiesCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CitizenProperties[0].MarketValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitizenProperties[0].TaxValue)
            </th>
            <th>Calculation Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CitizenProperties)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculationStatus)
                </td>
                <td>
                    <form method="post">
                        <input asp-for="CitizenPropertyId" type="hidden" value="@item.CitizenPropertyId" />
                        <input type="submit" value="Calculate Tax" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>