@page
@model CitizenServices.Pages.CitizenPropertiesModel

@{
    ViewData["Title"] = "Meus Imóveis";
}

<h1>Meus Imóveis</h1>

<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">
                Descrição
            </th>
            <th scope="col">
                Valor de Mercado
            </th>
            <th scope="col">
                Valor do IPTU/ ITR
            </th>
            <th scope="col">Situação do cálculo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CitizenProperties)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.CitizenPropertyId)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedMarketValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedTaxValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculationStatus)
                </td>
                <td>
                    <form method="post">
                        <input asp-for="CitizenPropertyId" type="hidden" value="@item.CitizenPropertyId" />
                        <input type="submit" value="Calcular Imposto" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>